<div class="static_pages_home">

	<!-- div.one -->
	<div class="one">
		<%= render partial: 'layouts/header' %>
		<div class="mid-wrapper">
			<h1 class="mid-heading">Git A Translation</h1>
			<div class="row url-search-form">
				<div class="container">
					<%= form_tag(static_pages_results_path, method: :get) do %>
						<% s = truncate("Link of the GitHub file ex: https://github.com/chi6rag/MediCart/blob/master/db/schema.rb", length: 80) %>
						<%= text_field_tag :url, nil, placeholder: "#{s}" %>
						<%= select_tag :language, options_from_collection_for_select(@languages, "id", "name") %>
						<span class="glyphicon glyphicon-search"></span>
						<%= submit_tag "", data: { disable_with: "" } , class: "hidden" %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="empty-area"></div>
		<div class="bottom-text">
			<h3>Making open source projects on Github more accessible across the world!</h3>
			<p>Git A Translation takes in the url of a Github file and translates the docstrings, comments and other informative features into a language of your choice!</p>
		</div>
		<!-- /.one -->
	</div>

	<div class="row">
		<div class="container" id="two">
		<!-- .two -->
			<div class="matter">
				<h2>Learn More</h2>
				<p>Git a Translation is an open source web application which aims to make open source code more accessible by offering translations of documentation in Github code files. Supports public files on Github; Translations are powered by Microsoft Translate; Application is deployed on Microsoft Azure.</p>
			</div>
		<!-- /.two -->
		</div>
	</div>

	<div class="row dummy"></div>

</div>
<%= render partial: 'layouts/footer' %>